fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-dotenv
pydantic
python-multipart
anthropic
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-telegram-bot
reportlab
requests
